.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient( #26c6da, white);
}

.loginBox {
  background: white;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 380px;
  text-align: center;

  h2 {
    font-size: 1.6rem;
    color: #1e3a8a;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .inputGroup,
  .passwordGroup {
    position: relative;

    i {
      font-size: 16px;
    }

    input {
      width: 100%;
      padding: 12px 40px;
      border: 1px solid #cbd5e1;
      border-radius: 8px;
      font-size: 1rem;
      outline: none;
      transition: border 0.2s ease;
      box-sizing: border-box;

      &:focus {
        border-color: #3b82f6;
      }
    }

    .inputIcon {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: black;
    }

    .eyeIcon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #666;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: #0170cb;
      }
    }
  }

  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #475569;

    label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }

    a {
      color: #2563eb;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .backBtn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: white;
  color: #00bcd4;
  border: 2px solid #00b4cd;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;

  &:hover {
    background: #00bcd4;
    color: white;
  }
}
  button {
    margin-top: 0.8rem;
    background: #00b4cd;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
    width: 40%;
    align-self: center;
    &:hover {
      background: #2563eb;
    }
  }

  .registerLink {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #475569;

    a {
      color: #2563eb;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
